<div class="row">
	<div class="col-xs-{data.flexform_xs_one} col-sm-{data.flexform_sm_one} col-md-{data.flexform_md_one}">
		<f:format.raw>{data.tx_gridelements_view_columns.0}</f:format.raw>
	</div>
	<div class="col-xs-{data.flexform_xs_two} col-sm-{data.flexform_sm_two} col-md-{data.flexform_md_two}">
		<f:format.raw>{data.tx_gridelements_view_columns.1}</f:format.raw>
	</div>
	<div class="col-xs-{data.flexform_xs_three} col-sm-{data.flexform_sm_three} col-md-{data.flexform_md_three}">
		<f:format.raw>{data.tx_gridelements_view_columns.2}</f:format.raw>
	</div>
	<div class="col-xs-{data.flexform_xs_four} col-sm-{data.flexform_sm_four} col-md-{data.flexform_md_four}">
		<f:format.raw>{data.tx_gridelements_view_columns.3}</f:format.raw>
	</div>
</div>