<f:if condition="{settings.styles.navbar.onTop}">
	<f:then>
		<f:if condition="{settings.navigation.navbar.enable}">
			<f:render partial="NavBar/_main" arguments="{_all}" />
		</f:if>
		<f:render partial="Page/Jumbotron" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:render partial="Page/Jumbotron" arguments="{_all}" />
		<f:if condition="{settings.navigation.navbar.enable}">
			<div class="container">
				<f:render partial="NavBar/NavBarDefault" arguments="{_all}" />
			</div>
		</f:if>
	</f:else>
</f:if>
<div class="{f:if(condition: '{settings.styles.container-fluid}',then: 'container-fluid', else: 'container')} page-container">
	<f:render partial="Page/Breadcrumb" />
	<div class="row content-row">
		<aside class="col-md-3">
			<f:if condition="{settings.navigation.sidebar-subMenu.enable}">
				<f:if condition="{subnav}">
					<f:render partial="NavBar/Sidebar" arguments="{_all}" />
				</f:if>
			</f:if>
			<f:cObject typoscriptObjectPath="lib.content.left" />
		</aside>
		<section class="col-md-9 main-content">
			<f:cObject typoscriptObjectPath="lib.content.main" />
		</section>
	</div>
</div>