<div class="navbar-header">
	<button data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button" class="navbar-toggle">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<f:cObject typoscriptObjectPath="lib.navbar-brand" />
</div>
<nav id="bs-navbar-collapse-1" class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<f:cObject typoscriptObjectPath="lib.navigation.main" />
	</ul>
	<f:render partial="NavBar/NavBarRight" arguments="{_all}" />
</nav>